# Adres backendu CRM
NEXT_PUBLIC_API_URL=https://investrent-crm-production.up.railway.app

# Opcjonalnie: Google Maps API key do mapy na stronie kontaktu
NEXT_PUBLIC_MAPS_KEY=

# Opcjonalnie: Google Analytics ID
NEXT_PUBLIC_GA_ID=
